body {
    background-color: whi;
}



.navbar-toggler {
    border-color: white;
}


.heroHeader {
    color: white;
    font-weight: bolder;
}

.heroText {
    color: white;
}

.heroImg {
    border-radius: 20px;
    filter: blur(5px);
    /* Makes the image blurry */
    transition: filter 0.5s ease, transform 0.5s ease;
    /* Smooth transitions */
    transform: scale(1);
    /* Default size */
}

.heroImg:hover {
    filter: blur(0);
    /* Removes the blur when hovered */
    transform: scale(1.1);
    /* Slight zoom in */
}

.heroButton {
    font-weight: bolder;
    border: none;
    margin-top: 25%;
}

.ellipseHero {
    position: absolute;
    opacity: 0.1;
    z-index: 0;
}

/* Responsive adjustments */
@media (max-width: 768px) {
    .heroImg {
        max-width: 100%;
        filter: blur(2px);
    }

    .heroSection {
        text-align: center;
        padding: 0rem 1rem;
    }

    h1 {
        font-size: 1.8rem;
    }

    p {
        font-size: 1rem;
    }

    .ellipseHero {
        display: none;
        /* Hide the floating circles on small screens */
    }
}

@media (max-width: 480px) {
    h1 {
        font-size: 1.5rem;
    }

    p {
        font-size: 0.9rem;
    }
}

.card {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
  transform: scale(1.05); /* Grows 5% larger */
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2); /* Adds depth */
}