body
{
    background-color: #0d6efd;
}

.navbar
{
    display: flex;
    justify-content: center;
}

.navbarButton
{
    background-color: white;
    color:rgb(55, 53, 53);
}

.heroHeader
{
    color: white;
    font-weight: bolder;
}

.heroText
{
    color: white;
}

.heroImg
{
    border-radius: 20px;
    filter: blur(2.5px); /* Makes the image blurry */
    transition: filter 0.5s ease, transform 0.5s ease; /* Smooth transitions */
    transform: scale(1); /* Default size */
}

.heroImg:hover
{
    filter: blur(0); /* Removes the blur when hovered */
    transform: scale(1.1); /* Slight zoom in */
}

.heroButton
{
    font-weight: bolder;
    border: none;
    margin-top: 25%;
}
